<ion-view view-title="Buscar Inmueble">
    <ion-content>
        <div class="list" style="margin-top: 10%;" id="calcForm">
                <div>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Tipo inmueble
                        </span>
                        <select attrname="sj_propertytype" id="tipoinmueble">
                            <option value="212150001" title="Venta">Venta</option>
                            <!--<option value="212150002" title="Alquiler">Alquiler</option>-->
                        </select>
                    </label>

                    <label class="item item-input item-select">
                        <span class="input-label">
                            Precio minimo
                        </span>
                        <select id="minPriceRange">
                            <option></option>
                            <option ng-value="5000" ng-model="filter.priceRange5000">5.000&#8364;</option>
                            <option ng-value="10000" ng-model="filter.minPriceRange10000">10.000&#8364;</option>
                            <option ng-value="15000" ng-model="filter.minPriceRange15000">15.000&#8364;</option>
                            <option ng-value="20000" ng-model="filter.minPriceRange20000">20.000&#8364;</option>
                            <option ng-value="30000" ng-model="filter.minPriceRange30000">30.000&#8364;</option>
                            <option ng-value="40000" ng-model="filter.minPriceRange40000">40.000&#8364;</option>
                            <option ng-value="50000" ng-model="filter.minPriceRange50000">50.000&#8364;</option>
                            <option ng-value="60000" ng-model="filter.minPriceRange60000">60.000&#8364;</option>
                            <option ng-value="70000" ng-model="filter.minPriceRange70000">70.000&#8364;</option>
                            <option ng-value="80000" ng-model="filter.minPriceRange80000">80.000&#8364;</option>
                            <option ng-value="90000" ng-model="filter.minPriceRange90000">90.000&#8364;</option>
                            <option ng-value="100000" ng-model="filter.minPriceRange100000">100.000&#8364;</option>
                            <option ng-value="125000" ng-model="filter.minPriceRange125000">125.000&#8364;</option>
                            <option ng-value="150000" ng-model="filter.minPriceRange150000">150.000&#8364;</option>
                            <option ng-value="175000" ng-model="filter.minPriceRange175000">175.000&#8364;</option>
                            <option ng-value="200000" ng-model="filter.minPriceRange200000">200.000&#8364;</option>
                            <option ng-value="250000" ng-model="filter.minPriceRange250000">250.000&#8364;</option>
                            <option ng-value="300000" ng-model="filter.minPriceRange300000">300.000&#8364;</option>
                            <option ng-value="any" ng-model="priceRange">Cualquier</option>
                        </select>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">
                            Precio maximo
                        </span>
                        <select id="maxPriceRange">
                            <option></option>
                            <option ng-value="5000" ng-model="filter.maxPriceRange5000">5.000&#8364;</option>
                            <option ng-value="10000" ng-model="filter.maxPriceRange10000">10.000&#8364;</option>
                            <option ng-value="15000" ng-model="filter.maxPriceRange15000">15.000&#8364;</option>
                            <option ng-value="20000" ng-model="filter.maxPriceRange20000">20.000&#8364;</option>
                            <option ng-value="30000" ng-model="filter.maxPriceRange30000">30.000&#8364;</option>
                            <option ng-value="40000" ng-model="filter.maxPriceRange40000">40.000&#8364;</option>
                            <option ng-value="50000" ng-model="filter.maxPriceRange50000">50.000&#8364;</option>
                            <option ng-value="60000" ng-model="filter.maxPriceRange60000">60.000&#8364;</option>
                            <option ng-value="70000" ng-model="filter.maxPriceRange70000">70.000&#8364;</option>
                            <option ng-value="80000" ng-model="filter.maxPriceRange80000">80.000&#8364;</option>
                            <option ng-value="90000" ng-model="filter.maxPriceRange90000">90.000&#8364;</option>
                            <option ng-value="100000" ng-model="filter.maxPriceRange100000">100.000&#8364;</option>
                            <option ng-value="125000" ng-model="filter.maxPriceRange125000">125.000&#8364;</option>
                            <option ng-value="150000" ng-model="filter.maxPriceRange150000">150.000&#8364;</option>
                            <option ng-value="175000" ng-model="filter.maxPriceRange175000">175.000&#8364;</option>
                            <option ng-value="200000" ng-model="filter.maxPriceRange200000">200.000&#8364;</option>
                            <option ng-value="250000" ng-model="filter.maxPriceRange250000">250.000&#8364;</option>
                            <option ng-value="300000" ng-model="filter.maxPriceRange300000">300.000&#8364;</option>
                            <option ng-value="any" ng-model="filter.maxPriceRangeAny">Cualquier</option>
                        </select>
                    </label>
                </div>

                <div class="row" style="padding-left: 15px;">
                    <h4 class="col-50" style="font-size: 17px;color: #4b4b4b;">N Habitaciones</h4>
                    <input type='button' value='-' class='qtyminus button button-calm button-small' field='rooms' />
                    <input type='text' name='rooms' ng-model="filter.bathrooms" value='0' class='qty Nrooms' disabled />
                    <input type='button' value='+' class='qtyplus button button-calm button-small' field='rooms' />
                </div>

                <!--<div class="row" style="padding-left: 15px;">
            <h4 class="col-50" style="font-size: 17px;color: #4b4b4b;">Banos</h4>
            <input type='button' value='-' class='qtyminus button button-calm button-small' field='bathrooms' />
            <input type='text' name='bathrooms' value='1' class='qty Nbathrooms' ng-model="filter.bathrooms" disabled />
            <input type='button' value='+' class='qtyplus button button-calm button-small' field='bathrooms' />
        </div>-->

                <ion-checkbox id="piscina" ng-model="filter.Piscina"><span style="top: 40%;position: absolute;">Piscina</span></ion-checkbox>
                <ion-checkbox id="VistaMar" ng-model="filter.VistaMar"><span style="top: 40%;position: absolute;">Vista Mar </span></ion-checkbox>

                <button class="button button-full button-positive" ng-click="filter1(filter)">
                    BUSCAR
                </button>
                <button class="button button-full button-c" ng-click="clearFields()">
                    BORRAR TODO
                </button>
        
        </div>
    </ion-content>

</ion-view>
<style>
.scroll {height: 110% !important;}
#myform {text-align: center;padding: 5px;border: 1px dotted #ccc;margin: 2%;}
.qty {width: 40px;height: 25px;text-align: center;}
input.qtyplus { width:32px; height:25px;padding: 0 12px}
input.qtyminus { width:32px; height:25px;padding: 0 12px}
.button-c{background-color:#223168;color:#fff;}
</style>